# NFL Big Data Bowl 2025
_Using pre-snap behavior to predict and better understand NFL team and player tendencies_

## Pre-snap to post-snap predictions
- teams have 40 seconds to run a play
- offensive and defensive units learn their formation and assignments
- strategic decisions including motion, shifts, and alignment changes, designed to both confuse the opponent and capitalize on any advantages
- teams likely divulge patterns in what players will do after the snap

In [23]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
df_games = pd.read_csv('./data/games.csv')
df_plays = pd.read_csv('./data/plays.csv')
df_players = pd.read_csv('./data/players.csv')

df_tracking = pd.concat([pd.read_csv(f'./data/tracking_week_{i}.csv') for i in range(1, 3)])

In [25]:
df_games.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,9/8/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,9/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,9/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,9/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,9/11/2022,13:00:00,CIN,PIT,20,23

In [26]:
df_presnap_plays = df_tracking.loc[df_tracking.frameType == 'BEFORE_SNAP', :]
df_tracking = df_tracking.loc[df_tracking.frameType != 'BEFORE_SNAP', :]

In [27]:
df_presnap_plays.head()

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022091200,64,35459.0,Kareem Jackson,1,BEFORE_SNAP,2022-09-13 00:16:03.5,22.0,DEN,right,51.06,28.55,0.72,0.37,0.07,246.17,68.34,huddle_break_offense
1,2022091200,64,35459.0,Kareem Jackson,2,BEFORE_SNAP,2022-09-13 00:16:03.6,22.0,DEN,right,51.13,28.57,0.71,0.36,0.07,245.41,71.21,NaN
2,2022091200,64,35459.0,Kareem Jackson,3,BEFORE_SNAP,2022-09-13 00:16:03.7,22.0,DEN,right,51.20,28.59,0.69,0.23,0.07,244.45,69.90,NaN
3,2022091200,64,35459.0,Kareem Jackson,4,BEFORE_SNAP,2022-09-13 00:16:03.8,22.0,DEN,right,51.26,28.62,0.67,0.22,0.07,244.45,67.98,NaN
4,2022091200,64,35459.0,Kareem Jackson,5,BEFORE_SNAP,2022-09-13 00:16:03.9,22.0,DEN,right,51.32,28.65,0.65,0.34,0.07,245.74,62.83,NaN

In [11]:
df_presnap_plays = df_presnap_plays.merge(df_tracking, on=['gameId', 'playId', 'nflId'])
df_presnap_plays = df_presnap_plays.merge(df_games, on=['gameId'])
df_presnap_plays = df_presnap_plays.merge(df_plays, on=['gameId', 'playId'])
df_presnap_plays = df_presnap_plays.merge(df_players, on=['nflId'])

In [ ]:
df_presnap_plays.shape